<phpunit bootstrap="./../vendor/autoload.php"  >
    <testsuites>
        <testsuite name="BusinessDays">
            <directory>../tests/UnitTests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./../var/tests/clover.xml"/>
    </logging>
</phpunit>